
body{
  padding: 3rem;
}
.App {
  text-align: center;
  margin-top: 5rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.rct-calendar-header{
  background-color: azure;
}

.react-calendar-timeline .rct-header-root{
  background-color: #fff !important;
}
.react-calendar-timeline .rct-dateHeader-primary {
  background-color: initial;
  border-left: 1px dashed #bbb !important;
  border-right: 1px dashed #bbb !important;
  color: #920b0b !important;
  text-align: center !important;
}


